.image-slider {
  width: 80%;
  text-align: center;
  margin: 5vh auto auto auto;
}
.image-slider .slick-dots {
  bottom: -30px;
}

.slick-prev:before, .slick-next:before {
  color: #025A4E;
}

.slick-dots li button:before {
  color: #025A4E;
}

.slick-dots li.slick-active button:before {
  color: #025A4E;
}