.image-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-slider img {
  width: 100%;
  height: auto;
}

.slider-button {
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}