.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 42px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 15px 10px 15px;
  width: 45%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  text-align: center;
  transition: all 0.3s ease-in-out;
  transform: scale(0.75);
}

.project-item img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-item h3 {
  margin: 2.5rem 1rem 1rem 1rem;
}

.project-item p {
  margin: 1rem 0;
  text-align: justify;
}

.large {
  transform: scale(1);
}