@font-face {
    font-family: 'League Spartan ExtraLight';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan Light';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan Regular';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan Bold';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan Black';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan ExtraBold';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan SemiBold';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'League Spartan Thin';
    src: local("League Spartan"), url('../../public/fonts/LeagueSpartan/LeagueSpartan-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Oak sans Regular';
    src: local("Oak sans"), url('../../public/fonts/oak-sans-font-family/OakSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oak sans Bold';
    src: local("Oak sans"), url('../../public/fonts/oak-sans-font-family/OakSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oak sans Light';
    src: local("Oak sans"), url('../../public/fonts/oak-sans-font-family/OakSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oak sans SemiBold';
    src: local("Oak sans"), url('../../public/fonts/oak-sans-font-family/OakSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oak sans ExtraBold';
    src: local("Oak sans"), url('../../public/fonts/oak-sans-font-family/OakSans-ExtraBold.ttf') format('truetype');
}
