.project-item {
	background: var(--color-white30);
	color: var(--color-text-tertiary);
	/*flex-direction: column;*/
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 50px;
	margin: 10px 15px 15px 15px;
	width: 45vw; /* Adjust this value as needed */
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	text-align: center;
	transition: all 0.3s ease-in-out;
	transform: scale(0.75);
}


.project-item:hover {
	box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.03);
	transition: all 0.3s ease-in-out;
}

.project-item img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
	border-radius: 5px;
	margin-bottom: 10px;
}

.project-item h3 {
	margin: 2.5rem 1rem 0rem 1rem;
}

.project-item p {
	padding: 0 1.5rem 1rem 1.5rem;
	text-align: justify;
}

.large {
	width: 30vw;
}

.title.language {
	align-self: start;
	display: flex;
	padding-left: 1.5rem;
}

.languages {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
	align-self: start;
	padding: 0;
	margin: 0 0 0 1.5rem;
}

.languages.icons {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	align-items: end;
	align-self: end;
	padding: 0.5rem 1rem 0.5rem 0;
}

.icons img {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 1rem;
}

.icons p {
	margin-right: 1rem;
	padding: 0;
	font-size: 1rem;
	color: var(--color-text-primary);
}

a.button {
	padding: 1rem 0;
}

@media (max-width: 1024px) {
	.project-item {
		width: 90%;
	}
}

@media (max-width: 768px) {
	.project-item {
		width: 90%;
	}
}