.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
	width: 100%;
	padding: 0;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0;
}

a.buttonAllProjects {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.buttonAllProjects strong{
	padding: 1rem 3rem;
	border-radius: 10px;
	background-color: var(--color-primary-accent);
	color: var(--color-white);
	font-size: 1.5rem;
	text-align: center;
}

a.buttonAllProjects strong:hover {
	cursor: pointer;
	background-color: var(--color-primary-accent);
}
