@import "locales/load-font.css";

* {
	background-color: transparent;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oak sans Regular', sans-serif;
	transition: all 0.5s ease;
}

h1 {
	color: var(--color-text-primary);
	font-size: var(--font-h1);
	font-family: "Arcon Bold", serif;
	margin: 5rem 0 2rem 0;
	padding: 0 2rem;
}

h2 {
	font-size: var(--font-h2);
	color: var(--color-text-primary);
	font-family: "Arcon Bold", serif;
}

h3 {
	font-size: 2.5rem;
	color: var(--color-text-primary);
	font-family: "Arcon Bold", serif;
}

h4 {
	font-size: 2rem;
	color: var(--color-text-primary);
	font-family: "Oak sans SemiBold", sans-serif;
}

h5 {
	font-size: 1.5rem;
	color: var(--color-text-primary);
	font-family: "Oak sans SemiBold", sans-serif;

}

html {
	scroll-behavior: smooth;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: var(--color-text-secondary);
}

a[href*="http"] {
	padding-right: 19px;
	position: relative;
}

a[href*="http"]::after {
	content: "↗";
	position: absolute;
	right: 0;
	top: 0;
}

p {
	font-size: var(--font-body);
	color: var(--color-text-secondary);
	text-align: justify;
}

button {
	font-family: 'Oak sans Bold', sans-serif;
	font-size: 1.5rem;
	color: var(--color-text-active);
	background-color: #344543;
	border: none;
	border-radius: 20px;
	padding: 1rem 2rem;
	margin: 1rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

button:hover {
	background-color: var(--color-text-primary);
	transition: all 0.5s ease;
}

body {
	background-color: var(--color-primary);
	line-height: 1.25;
}

p li {
	margin: 8px 0 8px 4rem;
}