@import "tailwindcss";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;


  --color-green-300: hsla(159, 42%, 88%, 1);
  --color-green-400: hsla(160, 52%, 71%, 1);
  --color-green-500: hsla(172, 95%, 18%, 1);
  --color-green-600: hsla(171, 15%, 35%, 1);
  --color-green-700: hsla(171, 11%, 24%, 1);
  --color-green-800: hsla(158, 23%, 18%, 1);

  --color-beige-300: hsla(36, 31%, 95%, 1);
  --color-beige-400: hsla(36, 31%, 92%, 1);
  --color-beige-500: hsla(36, 31%, 90%, 1);
  --color-beige-600: hsla(36, 20%, 80%, 1);
  --color-beige-700: hsla(36, 20%, 70%, 1);
  --color-beige-800: hsla(36, 20%, 60%, 1);

  --color-primary: var(--color-green-500);
  --color-primary-accent: var(--color-green-400);

  --ui-text-highlighted: var(--color-green-500);
  --ui-border: var(--color-green-500);
  --ui-border-accented: var(--color-green-500);
  --ui-bg: var(--color-beige-500);
  --ui-bg-muted: var(--color-beige-500);
  --ui-border-muted: var(--color-green-500);
  --ui-bg-elevated: var(--color-beige-500);


  --ui-bg-inverted: var(--color-green-500);

  --ui-text-muted: var(--color-green-600);
  --ui-text-dimmed: var(--color-green-700);

}

.dark {
  --bg-primary: var(--color-green-500);
  --ui-bg-muted: var(--color-green-800);
  --ui-bg-elevated: var(--color-green-800);
  --ui-bg-accented: var(--color-green-700);

  --color-primary: var(--color-green-400);
  --color-primary-accent: var(--color-green-300);

  --ui-text-highlighted: var(--color-green-400);
  --ui-border: var(--color-green-400);
  --ui-border-muted: var(--color-green-600);
  --ui-border-accented: var(--color-green-300);
  --ui-bg: var(--color-green-800);

  --ui-bg-inverted: var(--color-green-400);

  --ui-text-muted: var(--color-green-300);
  --ui-text-dimmed: var(--color-green-400);
}

h1, h2, h3 {
  font-family: 'Arcon Bold', sans-serif;
}

* {
  font-family: 'OakSans', sans-serif;
}


@font-face {
  font-family: 'Arcon Bold';
  src: url('/fonts/arcon/Acorn-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OakSans';
  src: url('../../../public/fonts/oaksans/OakSans-Regular.woff2') format('woff2');
  font-weight: normal;
}

@media (width >= 40rem) {
  .main-title h1 {
    font-size: var(--text-9xl) /* 1.5rem = 24px */;
    line-height: var(--tw-leading, var(--text-9xl--line-height) /* calc(2 / 1.5) ≈ 1.3333 */);
  }
}
